<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinqi.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.yinqi.bean.User">
        <id column="userId" property="userid" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="age" property="userage" jdbcType="INTEGER"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
    </resultMap>

    <insert id="insertUser" parameterType="com.yinqi.bean.User">
       insert user(username, age, birthday)
       values(#{username}, #{userage}, #{birthday})
     </insert>

    <select id="findAll" resultMap="BaseResultMap">
      select user.*
      from user
   </select>

    <select id="queryByname" parameterType="java.lang.String" resultMap="BaseResultMap">
          select user.*
          from user
          where username = #{username}
    </select>
</mapper>